table{
  width: 100%;
  font-size: large;
  text-align: center;
  border: 1px solid grey;
  border-collapse: collapse;
  font-family: 'Roboto Slab', serif;
}
th,td{
  border: 1px solid grey;
}
input{
  float: left;
  margin-left: 15px;
  height: 20px;
  width: 245px;
  border: none;
  font-size: 20px;
}
input:focus{
  outline: none;
}

#form1{
  justify-content: center;
  text-align: center;
  
}
.p{
  background-color: rgb(236, 236, 236);
}
th{
  background-color: rgb(242, 242, 242);
}
.submitBtn,.addBtn{
  float: right;
  height: 45px;
  width: 150px;
  background-color: rgb(19, 101, 254);
  border-radius: 8px;
  border: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: medium;
}
.img{
  width: 100%;
}